/** @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Kalam:300,400,700');

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,300,600,700'); **/

@import url('https://www.fontify.me/wf/5b6f2bc938435e1fde1b68a60b950025');

.game-page.mini-page #preloader { display:none !important; }

/**modal vertically center**/
.modal-vcntr--all .modal,
.modal.modal-vcntr {text-align: center; padding: 0!important; }
.modal-vcntr--all .modal:before,
.modal.modal-vcntr:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -20px; }
.modal-vcntr--all .modal .modal-dialog,
.modal-vcntr .modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }
.modal-vcntr--all .modal .modal-dialog,
.modal.modal-vcntr .modal-dialog { margin-top: 0px; margin-bottom: 0px; top: 0px;}


.rotateY360--hover:hover [class*="__icon"],
.rotateY360--hover:hover i.fa,
.rotateY360--hover:hover i.icon {
    transform: rotateY(360deg);
    -webkit-transition: all 3s ease-in-out !important;
    transition: all 3s ease-in-out !important;
}


.rotate360--hover:hover [class*="__icon"],
.rotate360--hover:hover i.fa,
.rotate360--hover:hover i.icon {
    transform: rotate(360deg);
    -webkit-transition: transform 1.3s 1s !important;
    transition: transform 1.3s 1s !important;
}


@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/Gotham-Bold.woff2') format('woff2'), /* Modern Browsers */
        url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
		url('fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/Gotham-Medium.woff2') format('woff2'), /* Modern Browsers */
        url('fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
		url('fonts/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/Gotham-Thin.woff2') format('woff2'), /* Modern Browsers */
		url('fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
		url('fonts/Gotham-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/Gotham-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 300;
    font-style: normal;
}


.preloader {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: table-cell;
    background-color: rgba(255,255,255,.8);
    padding-top: 45vh;
    color: #fff;
}

#sign-body .form-group+.form-group .form-control,
body .fom-grid-bdr .form-group+.form-group .form-control {
    border-left-color: transparent;
}



body .form-control {
    border: 1px solid #ccc;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
}


body{font-family: 'Gotham', sans-serif; font-size:14px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: 'Gotham', sans-serif;}
body nav.navbar { font-family: 'Gotham', sans-serif; }


input::-moz-placeholder { color:#9b9b9b;  -webkit-transition: padding 0.5s; transition: all 1s;}
input:-ms-input-placeholder { color:#9b9b9b;  -webkit-transition: padding 0.5s; transition: all 1s;}
input:-ms-input-placeholder { color:#9b9b9b;  -webkit-transition: padding 0.5s; transition: all 1s;}
input::-webkit-input-placeholder { color:#9b9b9b;  -webkit-transition: padding 0.5s; transition: 1s;}
textarea::-moz-placeholder { color:#9b9b9b;  -webkit-transition: padding 0.5s; transition: all 1s;}
textarea:-ms-input-placeholder { color:#9b9b9b;  -webkit-transition: padding 0.5s; transition: all 1s;}
textarea::-webkit-input-placeholder { color:#9b9b9b;  -webkit-transition: padding 0.5s; transition: 1s;}

.modal-dialog {
    top: 10%;
}

.hed.underline h2{
    text-align: center;
    text-align: center;
    color: #098fc3;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -2px;
    letter-spacing: -2px;
}
.hed.underline h2:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #d3d3d3;
    width: 100px;
    margin: 12px auto 0;
}
.hdr-area {
    background-image: url(images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 28px 0;
}
.hdr-area .navbar-main li a{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.hdr-area .navbar-main li a:hover{
    text-decoration: underline;
    color:#fff;
    text-decoration: underline;
    color:#fff;
}
.hdr-area .navbar-main>li.active>a, .hdr-area .navbar-main>li.active>a:hover{
    text-decoration: underline;
    text-shadow: none;
}
body .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}
body .navbar-brand {
    padding: 0;
    max-width: 336px;
    height: 100%;
    height: 100%;
}
.bottom-area{
    background-color:#098fc3;
    background-color:#098fc3;
}
.subj-area .hed.underline h2:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #d3d3d3;
    width: 270px;
}
.subj-area{
    padding: 25px 0;
    padding: 25px 0;
}
.subj__search input{
    height:55px;
    border-radius:20px;
    border-left: none;
    border-radius:50px;
    box-shadow: none;
    border-color:#ccc;
    color:#454545;
    font-weight:400;
    font-size: 16px;
    padding:6px;
    height:54px;
    border-radius:20px;
    border-left: none;
    border-radius:50px;
    box-shadow: none;
    border-color:#ccc;
    color:#454545;
    font-weight:400;
    font-size: 16px;
    padding:6px;
}

section input.form-control::-moz-placeholder { color:#9b9b9b; font-weight: 300; font-size: 16px; -webkit-transition: padding 0.5s; transition: all 1s;}

section input.form-control:-ms-input-placeholder { color:#9b9b9b; font-weight: 300; font-size: 16px; -webkit-transition: padding 0.5s; transition: all 1s;}

section input.form-control::-webkit-input-placeholder { color:#9b9b9b; font-weight: 300; font-size: 16px; -webkit-transition: padding 0.5s; transition: 1s;}

.subj__search .input-group span{
    background-color: transparent;
    color:#098fc3;
    font-size: 16px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 20px;
    background-color: transparent;
    color:#098fc3;
    font-size: 16px;
    /*
border-top-right-radius: 50px;
border-bottom-right-radius: 50px; */
    padding-left: 20px;
}


.clrbtn, .clrbtn:hover, .clrbtn:focus {
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.addon-right .input-group span{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.subj__search .input-group:hover > input , .subj__search .input-group:hover > span{
    border-color:#098fc3;
    border-color:#098fc3;
}
.subj__search{
    padding: 20px 15px 10px;
    padding: 20px 15px 10px;
}
.subj-area .swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
}
.subj-area .swiper-slide {

    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 200px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.subj-box{
    position: relative;
    position: relative;
}

.subj__inr {
    height: 198px;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
}

.subj__img{
    border-radius:5px;
    overflow:hidden;
    height: 198px;
    background-color: #098fc3;
}
.subj__img img{
    opacity: 0.8;
    min-width: 100%;
    /* max-width: inherit; */
}

.subj__title {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    padding: 0 15px;
    margin-top: 80px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 74%;
    border-top: 2px solid #098fc3;
}

.subj__title h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    /* text-transform: uppercase; */
    margin: 5px 0;
    /* white-space: nowrap; */
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}

.subj__title a {
    display: block;
    height: 100%;
    width: 100%;
}

.subj__games__num {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.1);
    background-color: #098fc3;
    margin-right: 15px;
    margin-bottom: 15px;
}

.subj__games__num h4 {
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    margin-bottom: -5px;
    line-height: 1;
    margin-top: 14px;
}
.subj__games__num span{
    font-size:12px;
    font-weight:400;
    color:#fff;
    text-transform: uppercase;
}
.subj-area .swiper-container-horizontal>.swiper-pagination {
    left: 0;
    width: 100%;
    position: relative;
    top: 20px;
    height: 35px;
}
.feat-games{
    background-color:#eeeeee;
    padding:40px 0;
}
.games-area .hed.underline h2{
    margin-top:10px;
    margin-bottom: 35px;
}
.games-area .hed.underline h2:after{
    width: 200px;
}
.feat-games h3{
    font-size:24px;
    font-weight:400;
    color:#098fc3;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;
}
.feat-games .hed.underline h3:after{
    width: 100px;
    background-color: #878787;
    content: "";
    display: block;
    height: 2px;
    margin-top: 5px;
}

.feat-box {
    /* position: relative; */
    position: relative;
    height: 180px;
    overflow: hidden;
    margin-bottom: 30px;
}

.feat__img{
    height:180px;
    overflow: hidden;
    border-radius:5px;
    background-color:#098fc3;
}
.feat__img img{
    opacity:0.8;
}
.feat__bar{
    position: relative;
    bottom: 55px;
}
.feat__bar ul li{
    width:50%;
    float: left;
    text-align: center;
    line-height: 55px;
}

.feat__bar ul li a {
    /* color: #fff; */
    color: #fff;
}

.feat__bar li.feat__game__share{
    background:rgba(27,148,196,0.9);
    border-bottom-left-radius: 5px;
    background:rgba(27,148,196,0.9);
    border-bottom-left-radius: 5px;
}
.feat__bar li.feat__game__start{
    background:rgba(63,64,64,0.9);
    border-bottom-right-radius: 5px;
    background:rgba(63,64,64,0.9);
    border-bottom-right-radius: 5px;
}
.feat__bar li i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 8px;
}

.feat__bar li a {

    font-size: 15px;
    font-weight: 500;
}

.feat__bar li.feat__game__share i {
    background-color: #454545;
}
.feat__bar li.feat__game__start i {
    background-color: #098fc3;
}

.feat__title {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    padding: 0 15px;
    margin-top: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* margin-left: 15px; */
    /* max-width: 480px; 
    margin-left: 15px;*/
    max-width: 430px;
}


.feat__title h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 5px 0;
    letter-spacing:-2px;
    line-height: 35px;
    letter-spacing:-2px;
    line-height: 35px;
}
.create__game__box{
    background-image: url('images/create-bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    padding: 35px 0;
    border-radius:5px;
    background-image: url('images/create-bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    padding: 35px 0;
    border-radius:5px;
}
.create__game__box a {
    display: block;
    line-height: 58px;
    border-radius:50%;
    width:60px;
    height:60px;
    border:2px solid #fff;
    margin:0 auto;
    text-align:center;
    border-radius:50%;
    width:60px;
    height:60px;
    border:2px solid #fff;
    margin:0 auto;
    text-align:center;
}

.create__game__box a span {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 52px;
    font-size: 68px;
    font-weight: 100;
}
.create-area{
    padding:35px 0;
    padding:35px 0;
}
.create__game__box h2{
    text-align: center;
    color:#fff;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
    color:#fff;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 0;
}

/*Mini Games Page*/

.games-area--mini .hed.underline h2:after{
    width: 205px;
    width: 205px;
}
.games-area--mini .feat-games{
    background-color:#fff;
    padding:30px 0 0;
    background-color:#fff;
    padding:30px 0 0;
}
.games-area--mini .feat-games .hed.underline h3:after{
    background-color:#d3d3d3;
    background-color:#d3d3d3;
}
.games-area--mini{
    padding: 25px 0 0;
    padding: 25px 0 0;
}
.feat__edit__icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 34px;
    margin-top: 25px;
}
.feat__edit__icon a {
    display: block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.1);
    background-color: #098fc3;
    color: #fff;
    text-align: center;
}
.feat__edit__icon a i{
    line-height: 45px;
    line-height: 45px;
}
.feat-games--edit {
    background-color: #fff;
    padding: 0 0 40px;
}

/*End*/

/*Popup Modal*/

.signup-modal h4{
    text-align: center;
    text-transform: uppercase;
    color:#098fc3;
    margin: 9px 0;
    text-align: center;
    text-transform: uppercase;
    color:#098fc3;
    margin: 9px 0;
}
.signup-modal .modal-body{
    padding:0 30px 30px;
    padding:0 30px 30px;
}

.modal .close{
    font-size: 29px;
    font-size: 29px;
    height: 45px;
    margin: -30px;
    opacity: 1;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    width: 45px;
    background-color: #098fc3;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
}

.modal-content {
    border: 0px solid #eee;
    border-radius: 4px;
    box-shadow: 0 0 0px 15px rgba(0,0,0,0.2)
}
.signup-form form .form-group{
    margin-right: -1px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.modal-form .form-group:last-child{
    margin-bottom: 10px;
    margin-bottom: 10px;
}
.modal-form form .form-group .form-control{
    box-shadow: none;
    height:45px;
    font-size: 16px;
    font-weight:400;
    color:#454545;
    box-shadow: none;
    height:45px;
    font-size: 16px;
    font-weight:400;
    color:#454545;
}
.modal-form form label{
    line-height:1;
    color:#7c7c7c;
    font-weight:300;
    font-size: 16px;
    margin-bottom: 10px;
    line-height:1;
    color:#7c7c7c;
    font-weight:300;
    font-size: 16px;
    margin-bottom: 10px;
}
.signup-modal .modal-header{
    border-bottom: none;
    border-bottom: none;
}
.modal-form form input::-moz-placeholder { color:#9b9b9b; font-weight: 300; font-size: 16px; -webkit-transition: padding 0.5s; transition: all 1s;}
.modal-form form input:-ms-input-placeholder { color:#9b9b9b; font-weight: 300; font-size: 16px; -webkit-transition: padding 0.5s; transition: all 1s;}
.modal-form form input::-webkit-input-placeholder { color:#9b9b9b; font-weight: 300; font-size: 16px; -webkit-transition: padding 0.5s; transition: 1s;}

.has-access-code a{
    color: #098fc3;
    text-decoration: underline;
    font-size:13px;
    font-weight:300;
    color: #098fc3;
    text-decoration: underline;
    font-size:13px;
    font-weight:300;
}
.has-access-code a:hover{
    color: #454545;
    color: #454545;
}
.signup-option-or .hed.crossline h4 {
    text-align: center;
    display: inline-block;
    background-color: #fff;
    padding: 0 0.4em;
    margin-top: 5px;
}
.hed.crossline hr {
    margin-top: -20px;
    margin-bottom: 0;
    border-color: #b7b7b7;
}


.signup__connect button, .signup__connect a {
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 45px;
    display: block;
    width: 100%;
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

}

.signup__connect button i,
.signup__connect a i{
    padding-right: 6px;
    padding-right: 6px;
}
.signup__connect--twitter button,
.signup__connect--twitter a{
    background-color:#1ab5e9;
    background-color:#1ab5e9;
}
.signup__connect--fb button,
.signup__connect--fb a{
    background-color:#4c6fa6;
    background-color:#4c6fa6;
}

.signup__connect--google button, .signup__connect--google a {
    /* background-color: #c82506; */
    background-color: #eee;
    color: #666;
}
.signup__connect i.fa {
    height: 24px;
    display:inline-block;
}

.signup__connect i.fa img {
    height: 100%;
    max-width: 100%;
}
button#google_login .fa {position: relative;top: -2px;}


.signup-option-or{
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.modal-form .signup__submit{
    width:100%;
    background-color:#098fc3;
    color:#fff;
    font-size: 16px;
    font-weight:400;
    line-height:45px;
    border:none;
    margin-top:15px;
    text-transform: uppercase;
    width:100%;
    background-color:#098fc3;
    color:#fff;
    font-size: 16px;
    font-weight:400;
    line-height:45px;
    border:none;
    margin-top:15px;
    text-transform: uppercase;
}
.modal-form .signup__submit i{
    font-size: 18px;
    font-size: 18px;
}
.add-lib-btn button{
    width:100%;
    width:100%;
}
.shareGame-modal h4{
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    color: #098fc3;
    margin: 9px 0;
}
.shareGame-modal .modal-body {
    padding: 0 15px 30px;
}
.share__copy__btn {
    margin-top: 27px;
    padding-left: 0;
}
.share__copy__btn button{
    background-color: #098fc3;
    background-color: #098fc3;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 43px;
    width: 100%;
    text-align: center;
}
.add-lib-btn{
    margin-top:10px;
    margin-top:10px;
}
.add-lib-btn button{
    background-color: #098fc3;
    background-color: #098fc3;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    width: 100%;
    text-align: center;
    color: #fff;
}
.add-lib-btn button i{
    width: 30px;
    width: 30px;
    height: 30px;
    background-color: #454545;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    color:#fff;
    color:#fff;
}
.shareGame-modal .form-group{
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.share__social{
    margin-top:20px;
    margin-top:20px;
}
.shareGame-modal .modal-header {
    border-bottom: none;
}
.startGame-modal h4{
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    color: #098fc3;
    margin: 9px 0;
}
.startGame-modal .modal-header {
    border-bottom: none;
}
.start-game-btn{
    margin-bottom: 10px;
    margin-bottom: 10px;
}
.startGame-modal .modal-body {
    padding: 0 15px 30px;
}
.login-modal .modal-body {
    padding: 0px 40px 40px;
}
.login-modal h4{
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    color: #098fc3;
    margin: 9px 0;
}
.login-modal .modal-header {
    border-bottom: none;
}
.login-form.modal-form .signup__submit{
    margin-top: 20px;
    margin-top: 20px;
}

/*End*/ 

/*Product page*/

.breadcrumb{
    background-color:transparent;
    margin:0;
    padding: 15px;
    background-color:transparent;
    margin:0;
    padding: 15px;
}
.breadcrumb li a{
    color:#737475;
    font-size:14px;
    font-weight:400;
}
.breadcrumb li.active a {
    color: #1a8ab8;
}

.chem-bnr{
    background-image: url('images/chemistry-bnr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('images/chemistry-bnr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.prod__bnr__cont .hed.underline h2{
    color:#fff;
    color:#fff;
}
.prod__bnr__cont .hed.underline h2:after{
    background-color:#fff;
    margin: 10px auto 0;
    background-color:#fff;
    margin: 10px auto 0;
}
.prod__bnr__cont .subj__games__num h4 {
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    margin-bottom: -5px;
    line-height: 20px;
    margin-top: 14px;
}
.prod__bnr__cont .subj__games__num {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:4px solid #fff;
    box-shadow: none;
    box-shadow: none;
    background-color: #098fc3;
    margin: 15px auto 25px;
    text-align: center;
    position: static;
    line-height: 24px;
}
.prod__bnr__cont.valigner{
    min-height: 215px;
    min-height: 215px;
}
.prod-area{
    padding: 70px 0;
    padding: 70px 0;
}
.prod-box{
    position: relative;
    margin: 15px 0;
    position: relative;
    margin: 15px 0;
}
.prod__inr {
    height: 198px;
    overflow: hidden;
}
.prod__img {
    border-radius: 5px;
    overflow: hidden;
    height: 198px;
    background-color: #098fc3;
}
.prod__img img {
    opacity: 0.8;
}
.prod__title {
    position: absolute;
    left: 15px;
    top: 0;
    background: rgba(0,0,0,0.5);
    padding: 0 15px;
    margin-top: 80px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.prod__title h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    /* text-transform: uppercase; */
    margin: 5px 0;
}

.vid-bnr-area.col-sm-12 {
    text-align: center;
}

/*End*/ 

/*Choose Game*/

.crt-game-area .hed.underline h2:after {
    width: 450px;
}
.crt-game-steps{
    padding-bottom:100px;
    padding-bottom:100px;
}
.game-info .game__add__timer label{
    float: left;
    float: left;
    color: #7c7c7c;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 44px;
    line-height: 44px;
    padding-right: 10px;
}

.game__add__timer .checkylbl {
    float: left;
    width: 65px;
    background-color: #ccc;
    box-shadow: 0 0 2px #ccc;
    margin-top: 6px;
    margin-right: 10px;
    height: 36px;
    /* position: relative; */
    /* left: 40px; */
}
.form-group.hidden-checkbox .checkylbl label {
    top: 4px;
    left: 4px;
}
input[type="checkbox"]:checked ~ .checkylbl label {
    right: 4px;
}

.game-info .game__add__timer label[for="addTimer"] {
    margin-bottom: 0;
    border-radius: 0;
    line-height: 48px;
    /* position: relative; */
    /* left: 230px; */
}
.form-group label {
    font-size: 16px; 
}


.game-info form label{
    line-height: 1;
    line-height: 1;
    color: #7c7c7c;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}
.game-info form input.form-control{
    box-shadow: none;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    color: #454545;
}
.game-info .form-group{
    margin-bottom: 20px;
}
.game-info .game__timer__box{
    float: left;
}
.game-info .game__timer__box input{
    max-width: 95px;
    text-align: center;
    font-weight: 500;
}

.btn-default,
.next-step, .prev-step{
    background-color: transparent;
    color:#098fc3;
    border:2px solid #098fc3;
    font-size:14px;
    font-weight:400;
    color:#098fc3;
    border:2px solid #098fc3;
    font-size:14px;
    font-weight:400;
}

.btn, .next-step, .prev-step {
    /* min-width: 175px; */
    /* line-height: 39px; */
    min-width: 175px;
    line-height: 39px;
    /* font-weight: 600; */
}

.btn { min-width:150px; }
.btn { min-width:180px; }

.btn-default:hover, .btn-default:focus,
.next-step:hover, .prev-step:hover{
    background-color: #098fc3;
    color:#fff;
    border:2px solid #098fc3;
    background-color: #098fc3;
    color:#fff;
    border:2px solid #098fc3;
}
.next-step i, .prev-step i{
    padding-right: 5px;
    color:#098fc3;
    padding-right: 5px;
    color:#098fc3;
}
.next-step:hover > i, .prev-step:hover > i{
    color:#fff;
    color:#fff;
}
.prev-step{
    float: left;
    float: left;
}
.game-info{
    padding-top: 25px;
    padding-top: 25px;
}
.crt-game-steps .accordion-plus .active .panel-title a:before {
    content: "\002d";
    height: 35px;
    width: 35px;
    margin-left: 0;
    right: 0;
    margin-top: 2px;
    line-height: 32px;
    font-family: inherit;
    font-weight: 300;
    font-size: 36px;
    color: #098fc3;
    border: 1px solid #098fc3;
}

.crt-game-steps .accordion-plus .panel-title a:before {
    content: "\002b";
    height: 35px;
    width: 35px;
    margin-right: 35px;
    margin-left: 0;
    right: 0;
    margin-top: 2px;
    line-height: 32px;
    font-family: inherit;
    font-weight: 300;
    font-size: 36px;
    color: #098fc3;
    border: 1px solid #098fc3;
}

.crt-game-steps .accordion-plus .panel-title .panel-default:first-child a:before, .crt-game-steps .accordion-plus .panel-title a.collapsed:before {
    content: "\002b";
    padding-left: 2px;
    color: #098fc3;
    font-family: inherit;
    font-weight: 300;
}

.crt-game-steps .accordion-plus .panel-title{
    padding-left: 0;
    line-height: 38px;
    padding-left: 0;
    line-height: 38px;
}

.crt-game-steps .panel-heading a{
    color:#fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight:400;
    color:#fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight:400;
}
.crt-game-steps .active .panel-heading a {
    color:#098fc3;
    color:#098fc3;
}
.crt-game-steps .panel-heading{
    padding: 10px 20px;
    background-color: #098fc3;
    border-radius: 0;
    border-color:#098fc3;
    height: 60px;
}
.crt-game-steps .panel-default{
    border: none;
    box-shadow: none;
}
.crt-game-steps .panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top: none;
}
.crt-game-steps .panel-body {
    padding: 15px;
}

.crt-game-steps .active .panel-heading{
    background-color:#e2e6eb;
    border-left:8px solid #098fc3;
}
.type__ind__locks{
    border:2px solid #e2e6eb;
    border-radius:5px;
    color:#e2e6eb;
    text-align: center;
    padding:40px 0;
}
.type__ind__locks ul li i{
    font-size: 84px;
    padding: 0 25px;
    height: 80px;
}
.type__ind__locks ul{
    padding: 0 20px 15px;
}
.type__ind__locks h3{
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}
.type__ind__locks h4 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    color: #aaa;
    
}

.type__conn__locks ul li:after{
    content:'\f178';
    font: normal normal normal 24px/1 FontAwesome;
    line-height: 100px;
    margin-left: -10px;
    position: absolute;
}
.type__conn__locks ul li:last-child:after{
    display: none;
    display: none;
}
.next-prev-step{
    padding-top: 30px;
}
.game-select-lock{
    float: left;
    text-align: center;
    float: left;
    text-align: center;
}
.select__lock__title h2 {
    color: #098fc3;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 5px;
    line-height: 30px;
    height: 56px;
    overflow: hidden;
    letter-spacing: -1px;
}

.select__lock__img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #eff1f3;
    /* line-height: 110px; */
    margin: 0 auto;
    /* line-height: 108px; */
    line-height: 108px;
}

.select__lock__box{
    border:2px solid #e2e6eb;
    border-radius:5px;
    padding: 30px 0;
    color:#e2e6eb;
}
.select__lock__inr:hover .select__lock__img {
    transform: rotateY(360deg);
    transition: transform 3s ease-out !important;
}

.lock-setup-story h3{
    color:#9b9b9b;
    font-size: 24px;
    font-weight:300;
    line-height: 28px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.lock-setup__icon i{
    font-size: 84px;
}

.lock-setup__title h2 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.lock-setup-story .nav-pills>li+li{
    margin-left: 0;
    margin-left: 0;
}
.lock-setup-story .nav-pills>li>a{
    border:2px solid #e2e6eb;
    border-radius:5px;
    padding: 40px 0 30px;
    color:#e2e6eb;
}
.lock-setup-story .nav-pills>li.active>a, .lock-setup-story .nav-pills>li.active>a:hover, .lock-setup-story  .nav-pills>li.active>a:focus{
    background-color: transparent;
    border: 2px solid #098fc3;
    color:#098fc3;
    background-color: transparent;
    border: 2px solid #098fc3;
    color:#098fc3;
}
.lock-setup__tabs--img{
    border:2px dashed #098fc3;
    border-radius: 5px;
}
.lock-setup__img{
    margin-top:30px;
    margin-top:30px;
}
.lock-setup__img h3{
    color:#9b9b9b;
    font-size: 24px;
    font-weight:400;
    text-align: center;
    margin-top: 0;
}
.lock-setup__img--inr {
    padding: 60px 0;
    display: none;
    margin-bottom: 30px;
}

div#endScreenImageTab {
    margin-bottom: 30px;
}

.lock-setup__img--inr i{
    font-size: 92px;
    color:#098fc3;
}
.lock-setup__img--inr h3{
    color: #9b9b9b;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.lock-setup__img--file input {
    opacity: 0;
    position: absolute;
    height: 360px;
    bottom: -60px;
    left: 0;
    width: 100%;
    display: inline-block;
}
.lock-setup__img--file button {
    background-color: #098fc3;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    height: 55px;
    padding: 0 15px;
    min-width: 530px;
}
.lock-setup__img--file {
    position: relative;
    margin: 30px 0 0;
}
.lock-setup__img--box img{
    object-fit: contain;
    object-fit: contain;
}
.lock-setup__img--box {
    margin-top: 25px;
}
.lock-setup__text--box textarea{
    box-shadow: none;
    box-shadow: none;
    height: 150px;
    font-size: 16px;
    font-weight: 400;
    color: #454545;
}
.lock-setup__text--box label{
    line-height: 1;
    line-height: 1;
    color: #7c7c7c;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}
body .tab-content{
    border: none;
    min-height: auto;
    border: none;
    min-height: auto;
}

.lock-setup__tabs{
    margin-top: 30px;
}

.remove-image{
    font-size: 29px;
    font-size: 29px;
    height: 30px;
    opacity: 1;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    width: 30px;
    background-color: transparent;
    color: #098fc3;
    border: 3px solid #098fc3;
    border-radius: 50%;
}
.lock-setup__img__remove {
    position: relative;
    padding: 0;
    padding: 0;
}
.lock-setup__img__remove h3 {
    text-align: left;
    font-weight:300;
    color: #9b9b9b;
    padding-left: 70px;
    font-weight:300;
    color: #9b9b9b;
    padding-left: 70px;
}
.remove-image {
    font-size: 21px;
    line-height: 23px;
    text-align: center;
    font-weight: 700;
    height: 30px;
    opacity: 1;
    position: absolute;
    text-shadow: none;
    top: 0;
    left:0;
    left:0;
    width: 30px;
    background-color: transparent;
    color: #098fc3;
    border: 4px solid #098fc3;
    border-radius: 50%;
    margin-left: 30px;
    cursor: pointer;
    margin-left: 30px;
    cursor: pointer;
}
.is-active{
    display: block;
    display: block;
}
.lock-setup__img--has-image{
    padding: 35px 0;
    display: none;
    padding: 35px 0;
    display: none;
}
.lock-setup__img--has-image.is-active{
    display: block;
    display: block;
}
.lock-setup__img__preview{
    text-align: center;
    text-align: center;
}
.lock-setup__img__preview img{
    margin:0 auto;
    object-fit: contain;
    margin:0 auto;
    object-fit: contain;
}
.select-lock-type .nav-pills>li+li{
    margin-left: 0;
    margin-left: 0;
}
.select-lock-type .nav-pills>li.active>a, .select-lock-type .nav-pills>li.active>a:hover, .select-lock-type .nav-pills>li.active>a:focus {
    background-color: transparent;
    border: 2px solid #098fc3;
    color: #098fc3;
}
.select-lock-type .nav-pills>li>a {
    border: 2px solid #098fc3;
    border-radius: 5px;
    padding: 20px 0 20px;
    color: #e2e6eb;
}
.number__select-box{
    float: left;
    margin: 10px 0;
    float: left;
    margin: 10px 0;
}
.select-lock__tabs--number{
    border: 2px solid #098fc3;
    border: 2px solid #098fc3;
    padding: 60px;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
}
.select-lock__tabs--number__select h3{
    font-size: 28px;
    font-weight:400;
    color:#098fc3;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 28px;
    font-weight:400;
    color:#098fc3;
    text-transform: uppercase;
    margin-top: 0;
}

.number__select-inr{
    border: 2px solid #098fc3;
    border-radius: 5px;
    margin: 0 auto;
}
.number__select-inr--comb{
    border: 2px solid #ccc;
}
.number__select-inr--comb.has-value{
    border: 2px solid #098fc3;
}

.shapes i.fa {
    height: 30px;
    width: 30px;
}

.shapes i.fa img {
    width: 100%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-top: 4px;
}

.shape__select-box h2,
.number__select-inr h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    color: #098fc3;
    margin: 0;
}
.tabs--number__select {
    border-bottom: 1px solid #acacac;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.number__select-inr--comb {
    border-radius: 50%;
    height: 95px;
    width: 95px;
    overflow: hidden;
}

.select-lock__tabs--comb__select{
    margin-top:30px;
    margin-top:30px;
}
.tabs--number__select--two{
    border-bottom: none;
    border-bottom: none;
}
.edit-save-btns button{
    background-color: transparent;
    border: 2px solid #098fc3;
    border-radius: 5px;
    color:#098fc3;
    line-height: 44px;
    min-width: 165px;
    text-align: center;
    font-size: 20px;
    font-weight:400;
    background-color: transparent;
    border: 2px solid #098fc3;
    border-radius: 5px;
    color:#098fc3;
    line-height: 44px;
    min-width: 165px;
    text-align: center;
    font-size: 20px;
    font-weight:400;
}
.edit-save-btns button:hover{
    background-color: #098fc3;
    border: 2px solid #098fc3;
    color:#fff;
    background-color: #098fc3;
    border: 2px solid #098fc3;
    color:#fff;
}
.select-lock__tabs--direct{
    border: 2px solid #098fc3;
    border: 2px solid #098fc3;
    padding: 60px;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
}
.select-lock__tabs--shape{
    border: 2px solid #098fc3;
    border: 2px solid #098fc3;
    padding: 60px;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
}
.tabs--number__select--direct {
    /* padding: 20px 230px 30px; */
    text-align: center;
}
.shape__select-box{
    border: 2px solid #098fc3;
    border: 2px solid #098fc3;
    border-radius: 5px;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    line-height: 84px;
}
.number__select-inr--comb h2{
    line-height: 91px;
    line-height: 91px;
}
.select-lock__tabs--text {
    border: 2px solid #098fc3;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    margin-top: 0px;
}
.select-lock__tabs--color{
    border: 2px solid #098fc3;
    border: 2px solid #098fc3;
    padding: 60px;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
}
.select-color-box{
    border-width:2px;
    border-width:2px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

#select-color-red{
    background-color:#c82506;
    background-color:#c82506;
}
#select-color-green{
    background-color:#70bf41;
    background-color:#70bf41;
}
#select-color-orange{
    background-color:#f39019;
    background-color:#f39019;
}
#select-color-blue{
    background-color:#015cab;
    background-color:#015cab;
}
#select-color-brown{
    background-color:#924607;
    background-color:#924607;
}
#select-color-yellow{
    background-color:#ffd809;
    background-color:#ffd809;
}
#select-color-purple{
    background-color:#b36ae2;
    background-color:#b36ae2;
}
#select-color-grey{
    background-color:#53585f;
    background-color:#53585f;
}
#select-color-white{
    background-color:#ffffff;
    border:2px solid #000;
    background-color:#ffffff;
    border:2px solid #000;
}
#select-color-black{
    background-color:#000;
    background-color:#000;
}
.shape__select-box--circle{
    border-radius:50%;
    border:none;	
    border-radius:50%;
    border:none;	
}

.checker-area.selectme.is-active .type__ind__locks  {
    border: 2px solid #098fc3;
    border-radius: 5px;
    color: #098fc3;
    text-align: center;
}

.finish-save-add-btn{
    margin-top: 30px;
    margin-top: 30px;
}


.btn:disabled{
    border:2px solid #ababab;
    color:#ababab;
    border:2px solid #ababab;
    color:#ababab;
}

.type__ind__locks {
    padding: 0;
}

.type__ind__locks label {
    padding: 30px 0;
    width:100%;
    cursor: pointer;
    width:100%;
    cursor: pointer;
}


.form-control {
    font-weight: 300;
    font-size: 17px;
}


/*End Choose Game*/ 

#signup-submit+p {
    margin-top: 10px;
    margin-bottom: 0;
}

div#sign-body .sm-area {
    margin-bottom: 10px !important;
}
/*Congrats Failue screens*/

.breadcrumb-area {
    background-color: #eeeeee;
    margin-bottom: 30px;
}

.congrat-area .hed.underline h2:after{
    width: 340px;
    width: 340px;
}
.end-screen-box{
    background-image:url('images/end-screen-bg.png');
    background-repeat: no-repeat;
    padding:30px 0;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
}
.end-screen__inr h2{
    color:#fff;
    font-size: 36px;
    font-weight:400;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom:30px;
    color:#fff;
    font-size: 36px;
    font-weight:400;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom:30px;
}
.end-screen__inr h3{
    font-size: 28px;
    font-weight:400;
    margin-top: 0;
    margin-bottom:20px;
    color:#fffefe;
    font-size: 28px;
    font-weight:400;
    margin-top: 0;
    margin-bottom:20px;
    color:#fffefe;
}
.end-screen__inr h5{
    color:#fff;
    font-size:24px;
    font-family: 'Kalam', cursive;
    font-weight:400;
    text-transform: uppercase;
    margin-bottom: 30px;
    color:#fff;
    font-size:24px;
    font-family: 'Kalam', cursive;
    font-weight:400;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.end-screen__inr ul li a{
    width: 100%;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    display: block;
    display: block;
}
.signup__connect--twitter a {
    background-color: #1ab5e9;
}
.signup__connect--fb a {
    background-color: #4c6fa6;
}

.scrollToTop span {
    display: none;
}

.end-screen-social{
    width:50%;
    margin:0 auto;
    width:50%;
    margin:0 auto;
}
.end-screen__logo{
    padding: 20px 0;
    padding: 20px 0;
}
.signup__connect a i {
    padding-right: 6px;
}
.congrat-area{
    padding:25px 0 60px;
    padding:25px 0 60px;
}

.congratulations-page footer , .failure-page footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
}

/*END OF Failure Congrats screen*/

/*Video Image Tutorial*/

.img-tut-area{
    padding:60px 0;
    padding:60px 0;
}
.img-tut__img{
    height:290px;
    overflow: hidden;
    border-radius:5px;
    background-color:#098fc3;
    height:290px;
    overflow: hidden;
    border-radius:5px;
    background-color:#098fc3;
}
.img-tut__img img{
    opacity:0.75;
    height: 100%;
    opacity:0.75;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.img-tut__points h2{
    color:#098fc3;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    color:#098fc3;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
}
.img-tut__points ul li:before {
    content: ' ';
    content: ' ';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #098fc3;
    position: absolute;
    left: 20px;
    margin-top: 7px;
}
.img-tut__points ul li{
    font-size: 14px;
    font-weight: 400;
    color: #454545;
    padding-left: 28px;
    line-height: 20px;
    padding-bottom: 15px;
    display: block;
    padding-bottom: 15px;
    display: block;
}
.img-story__inr p{
    
}
.img-tut-dtl-area .panel-body {
    padding: 30px 0 10px;
}
.img-lock__inr ul li:before {
    content: ' ';
    content: ' ';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #098fc3;
    position: absolute;
    left: 20px;
    margin-top: 7px;
}
.img-lock__inr ul li{
    font-size: 14px;
    font-weight: 400;
    color: #454545;
    padding-left: 28px;
    line-height: 20px;
    padding-bottom: 15px;
    display: block;
    padding-bottom: 15px;
    display: block;
}
.img-setup__inr ol li{
    display: list-item;
    list-style-type: decimal;
    text-indent: 10px;
    
    display: list-item;
    list-style-type: decimal;
    text-indent: 10px;
    
    font-size: 14px;
    font-weight: 400;
    color: #454545;
    line-height: 20px;
    line-height: 20px;
    padding-bottom: 15px;
}
.img-setup__inr ol{
    padding-left: 20px;
    padding-left: 20px;
}
.crt-game-steps .panel-group .panel{
    margin-bottom:20px;
}
.img-setup__inr p{
    
    
    font-size: 18px;
    
    color: #000;
    
    margin-bottom: 30px;
    padding-left: 5px;
    
    margin-bottom: 30px;
    padding-left: 5px;
}
.access-resrc-btn {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}
.access-resrc-btn a{
    display: inline-block;
    width: 100%;
    text-align: center;
    color:#fff;
}


.access-resrc-btn i{
    font-size: 30px;
    background-color: #04394e;
    width: 90px;
    line-height: 60px;
    float: right;
    margin-left: -17px;
}
.img-tut-dtl-area, .vid-tut-dtl-area {
    padding-bottom: 10px;
}

.img-setup__inr ol li:last-child{
    padding-bottom: 0;
    padding-bottom: 0;
}
.vid-bnr__img{
    height:370px;
    overflow: hidden;
    background-color:#098fc3;
    border-radius: 5px;
    height:370px;
    overflow: hidden;
    background-color:#098fc3;
    border-radius: 5px;
}
.vid-bnr__img img{
    opacity:0.75;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity:0.75;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vid-tut-bnr-area {
    padding: 60px 0;
    padding: 0px 0;
}

.vid-bnr__inr{
    position: relative;
}
.vid-tut__title.valigner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 300px;
}
.vid-tut__title.valigner h2{
    margin-top:10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 110px;
    color:#098fc3;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    margin-top:10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 110px;
    color:#098fc3;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.vid-tut__hed{
    position: absolute;
    bottom:0;
    width: 100%;
    background: rgba(27,148,196,0.9);
    position: absolute;
    bottom:0;
    width: 100%;
    background: rgba(27,148,196,0.9);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height:70px;
    border-bottom-right-radius: 5px;
    height:70px;
}
.vid-tut__hed h3{
    margin: 10px 0;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
}
.vid-tut-dtl-area .access-resrc-btn i {
    font-size: 30px;
    background-color: #04394e;
    width: 70px;
    line-height: 60px;
    float: right;
    margin-left: -15px;
}
.vid-tut-dtl-area .access-resrc-btn{
    margin-bottom: 35px;
    margin-bottom: 35px;
}
.vid-tut-dtl-area .panel-body {
    padding: 30px 0 10px;
}
.vid-ques__inr ul li{
    padding: 10px 20px;
    background-color:#f0f2f5;
    width: 100%;
    margin: 7px 0;
    
    padding: 10px 20px;
    background-color:#f0f2f5;
    width: 100%;
    margin: 7px 0;
    
    font-size: 14px;
    font-weight: 400;
    color: #454545;
}
.vid-ques__inr ul li:first-child{
    margin-top:-10px;
    margin-top:-10px;
}
.vid-ques__inr ul li i{
    color: #098fc3;
    padding-right: 10px;
    color: #098fc3;
    padding-right: 10px;
}
.vid-ques__inr p{
    margin-top: 20px;
    text-align: center;
    margin-top: 20px;
    text-align: center;
}
.vid-ques__inr p a{
    
    font-size: 18px;
    
    text-decoration: underline;
    color: #098fc3;
    
    font-size: 18px;
    
    text-decoration: underline;
    color: #098fc3;
}
.vid-ques__inr p a:hover{
    color:#fff;
    color:#fff;
}
.vid-req__inr__box{
    position:relative;
    width: 50%;
    position:relative;
    width: 50%;
    margin: 0 auto;
}
.vid-req__inr__title{
    position: absolute;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(27,148,196,0.9);
    padding: 0 15px;
    margin-top: 85px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.vid-req__inr__title h3{
    color:#fff;
    font-size: 18px;
    font-weight:400;
    margin: 10px 0;
    text-transform: uppercase;
    line-height: 15px;
    color:#fff;
    font-size: 18px;
    font-weight:400;
    margin: 10px 0;
    text-transform: uppercase;
    line-height: 15px;
}
.vid-req__inr__img{
    height: 200px;
    overflow: hidden;
    background-color: #098fc3;
    height: 200px;
    overflow: hidden;
    background-color: #098fc3;
    border-radius: 5px;
}
.vid-req__inr__img img {
    opacity: 0.75;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*End of Video Image Tutorial*/ 

/*Game Preview */

.game-preview-area .hed.underline h2:after {
    width: 270px;
}
.game__prev__inr{
    border: 2px solid #098fc3;
    border-radius: 5px;
    padding: 30px 65px;
    border: 2px solid #098fc3;
    border-radius: 5px;
    padding: 30px 65px;
}
.game__prev__img__main{
    text-align: center;
    border-radius:5px; 
    border: 2px solid #098fc3;
    padding: 30px;
    text-align: center;
    border-radius:5px; 
    border: 2px solid #098fc3;
    padding: 30px;
    width: 40%;
    margin: 20px auto;
    position: relative;
    margin: 20px auto;
    position: relative;
}
.game__prev__img__circles {
    padding: 5px 15px;
    margin-left: 40px;
}
.game-preview-area{
    padding: 30px 0 30px;
}
.game__prev__magnify {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -40px;
    font-size: 30px;
    color: #098fc3;
    margin-top: -12px;
}
.cols-9{
    width: 11.11%;
    float: left;
    padding-left: 10px;
    width: 11.11%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.game__prev__img__square{
    margin: 10px 0 30px;
    margin: 10px 0 30px;
}
.game__prev__square__row.row{
    margin-left: -10px;
    margin-right: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.game__prev__comb__btns{
    padding-top: 25px;
    border-top: 1px solid #acacac;
    padding-top: 25px;
    border-top: 1px solid #acacac;
}
.game__prev__btns button{
    background-color: transparent;
    background-color: transparent;
    border: 2px solid #098fc3;
    border-radius: 5px;
    color: #098fc3;
    line-height: 44px;
    min-width: 165px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top:10px;
    margin-top:10px;
}
.game__prev__circles__cont{
    border-radius: 50%;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 2px solid #098fc3;
    margin: 0 auto;
    border: 2px solid #098fc3;
    margin: 0 auto;
}
.game__prev__circles__cont h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #098fc3;
    margin: 0;
}
.game__prev__circles__inr{
    float: left;
    padding-left: 8px;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.game__prev__btns--submit {
    margin-left: 41px;
    margin-left: 41px;
}
.game-preview-box{
    margin-top: 40px;
    margin-top: 40px;
}
/*End*/ 

/*EndStyling*/



body .navbar-nav>li>.dropdown-menu li a {
    color: #333;
    font-weight: 400;
}

body .nav>li>a:hover, .nav>li>a:focus,
body .navbar-default .navbar-nav > .open > a,
body .navbar-default .navbar-nav > .open > a:hover,
body .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
}

body .dropdown.open > a::after {
    color: inherit;
}

body .hdr-area .navbar-nav>li>.dropdown-menu li a:hover {
    background-color: #2a9ac6;
    text-decoration: none;
}

.game-type-lft.selectme input, .game-type-rgt.selectme input {
    display: none;
}


.number__select-box {
    width: 80px;
    margin: 10px auto;
    display: inline-block;
    float: left;
    /* height: 80px; */
}

.tabs--number__select.tabs--number__select--two {
    text-align: center;
}

.tabs--number__select.tabs--number__select--two .number__select-box {
    float: none;
    margin: 0 15px 15px;
}

.tabs--number__select.tabs--number__select--two .number__select-box input {
    background-color: transparent;
    border: 0;
    text-align: center;
    font-size: 38px;
    color: #428bca;
    line-height: 56px;
    height: auto;
    font-weight: 500;
}

.select-lock__tabs--number__select .number__select-box.cols-5 { float:none; }

.tabs--number__select--direct .number__select-box {
    display: inline-block;
    float: none;
}

.select-lock--iconic .number__select-inr--comb input {
    visibility: hidden0;
    opacity:0;
    opacity:0;
}

.select-lock--iconic .tabs--number__select.tabs--number__select--two .number__select-box i {
    position: absolute;
    top: 34px;
    left: 48px;
    width: 30px;
    height: 30px;
}
.select-lock--iconic .tabs--number__select.tabs--number__select--two .number__select-box i img {
    width: 30px;
    height: 30px;
    float: left;
}

.tabs--number__select.tabs--number__select--two .number__select-box {
    position: relative;
    margin: 10px;
    padding: 0;
}

body .dropdown > a::after {
    color: inherit;
}


body .btn-primary, body .btn-primary:visited {
    background-color: #098fc3;
    color: #fff;
    border-color: #098fc3;
    border-radius: 0;
}


body .btn-white,
body .btn-white:visited {
    background-color: #fff;
    color: #098fc3;
    border-color:#fff;
}

body .btn-primary i { color: #fff; }

.number__select-inr h2 a {
    display: block;
}


.login-page .checkbox.mar__btm input {
    margin-top: 1px;
}

body{
    font-weight: 300;
}

body label,
body .checkbox label,
body .radio label {
    font-weight:300;
}

body .fw300 {
    font-weight: 300;
}


body .subj-main {
    max-height: 480px;
    overflow: hidden;
}


.select-lock--iconic .tabs--number__select.tabs--number__select--two .number__select-box i[class*="bg-"] {
    border: 2px solid #ccc;
    border-radius: 50px;
    width: 70px;
    left: 0px;
    top: 0px;
    height: 70px;
}


body.modal-open {
    padding-right: 0 !important;
}

.btn-small {
    min-width: 64px;
}



.dash__tabs .nav li a {
    border: 2px solid #098fc3;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    line-height: 40px;
    font-size: 16px;
}

.dash__tabs .nav li {
    display: block;
}

.dash__lft .nav {
    margin-top: 40px;
}

.dash__tabs .nav li.active a,
.dash__tabs .nav li a:hover {
    background-color: #098fc3;
}


.holder {
    border: 2px solid #098fc3;
    border-radius: 4px;
}


.navbar-nav>li>.dropdown-menu {
    padding: 0;
}

body .navbar-nav>li>.dropdown-menu li a:hover, body .navbar-nav>li>.dropdown-menu li.active a {
    color: #fff;
    background-color: #098fc3;
    background-color: #098fc3;
}

body .navbar-nav>li>.dropdown-menu li a {
    font-size: 18px;
    line-height: 30px;
}


.modal .checkbox.mar__btm input {
    margin-top: 1px;
}


.end-screen-social .btn-default {
    background-color: #fff;
    padding: 4px;
}

.end-screen-social .form-control {
    background-color: transparent;
    color: #fff;
}



.end-screen-social {
    text-align: center;
}

.end-screen-social label {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
    display: block;
}

.end-screen-social .btn-default:hover {
    color: #fff;
    background-color: #333;
}

.alert--sticky {
    position: fixed;
    bottom: 0;
    z-index: 99;
    text-align: center;
    width: 50%;
    margin-left: -25%;
    left: 50%;
}

.clr.input-group .input-group-addon {
    padding: 0;
}

.clr.input-group .input-group-addon>*  {
    height: auto;
    border: 0;
    padding: 0;
    border-radius: 0;
}

.ocrext-element.ocrext-wrapper~input {
    display: none;
}


.play-area {
    text-align: center;
}

.play-area li img {
    display: block;
}


.dash__lft .nav i.fa {
    width: 20px;
    text-align: center;
}


body {
    padding-top: 110px;
}

.hdr--sticky {
    position: fixed !important;
    top: 0px;
    left: 0;
}

.my-mini-games-page table.table .btn-small {
    padding-top: 0;
    padding-bottom: 0;
    min-width: 80px;
    font-size: 12px;
}

.fa.rounded {
    background-color: #333;
    width: 30px;
    line-height: 31px;
    border-radius: 50%;
    margin-right: 10px;
}



.zoomized.is-active {
    max-width: 100%;
    text-align: center;
    width: 100%;
    transform: scale(2);
    -webkit-transform: scale(2);
    z-index: 500;
    position: relative;
}

.zoomized button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    font-size: 26px;
    color: #098fc3;
}


.zoomized.is-active button {
    border: 1px solid #098fc3;
    transform: scale(0.5);
}
.zoomized.is-active .fa-search-plus:before{
    content: "\f00d";
    content: "\f00d";
}

.zoomized.is-active button {color: #000;background-color: #fff;border-color: #fff;}


.select-lock-type .select-lock:hover {
    background-color: #098fc3;
    color: #fff;
    border-color:#098fc3;
}

.select-lock-type .select-lock:hover .select__lock__title h2 {
    color: #fff;
}


.alert-sticky {
    position: fixed;
    z-index: 99;
    right: 30px;
    bottom: 0px;
}


.alert-sticky ul,
.alert-dismissable ul {
    text-align: left;
}

.alert-sticky ul li,
.alert-dismissable ul li {
    padding: 5px;
}

.alert-sticky .close, .alert-dismissable .close {
    opacity: 1;
    background-color: #d00;
    width: 28px; 
    border-radius: 50%;
    color: #fff;
    text-shadow: none;
    display: inline-block;
    height: 28px;
    font-size: 20px;
    top: 5px;
    right: 5px;
    margin:0;
    text-align: center;
    line-height: 28px !important;
    position: absolute;
}

body .modal .alert .close {
    line-height: 22px  !important;
}

/*
.alert-sticky .close:hover,
.alert-dismissable .close:hover {
    transform: rotate(90deg);
}
*/
.alert {
    background-color: #fff;
    bottom: 0;
    bottom: 0;
}

.alert-danger {
    box-shadow: 0 0 0 2px #d00;
}



.alert-sticky {
    position: fixed;
    z-index: 99;
    right: 5%;
    bottom: 0px;
    max-width: 90%;
}

.alert-sticky{ animation: move_to_top 1s; }
@keyframes move_to_top { 0% { bottom: -10vh; } 50% { bottom: 50%; } 100% { bottom: 40%; } }
@keyframes move_to_top { 0% { bottom: -10vh; } 50% { bottom: 50%; } 100% { bottom: 40%; } }




.lock-setup__img--has-image.show {
    position: absolute;
    top: 1%;
    right: 2%;
    left: 2%;
    width: 96%;
    background-color: #fff;
    height: 90%;
}

.lock-setup__img__preview {
    max-height: 290px;
    overflow: hidden;
}

.lock-setup__img__preview img {
    max-height: 100%;
}
.stopwatch .fa {
    display: none;
}


.stopwatch--10 .stopwatch.l0 {
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}
.stopwatch--near .stopwatch.r0 {
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}


.stopwatch-area {
    display: block;
    font-size: 34px;
    color: #098fc3;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 0;
    height: 30px;
    border: 0;
    bottom: 0;
    z-index:555;
    border-top: 1px solid #333;
	background-color:#fff;
}

#load-bar {
    width: 100%; /* in this case 20% would be the current progress */
    height: 100%;
    width: 100%; /* in this case 20% would be the current progress */
    height: 100%;
}

div#load-bar-frame {
    height: 100%;
}


.stopwatch {
    position: absolute;
    top: 1px;
    color: #333;
    font-size: 20px;
    /* padding-left: 4px; */
    /* margin-left: -84px; */
    /* right: 15px; */
    /* right: 15px; */
}

.stopwatch .fa {
    margin-right: 6px;
}




#search_listing .search_listinner {
    overflow-y: auto; 
    overflow-x: hidden;
    max-height: 200px; 
}

.search_table td img {
    height: 50px;
    width: 50px;    
}
.search_table .title {
    margin: -20px 0px 10px 60px;
}

body .stopwatch {
    width: 100px;
	    font-size: 24px;
    line-height: 44px;
	color:#098fc3;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
}

div#stopwatch {
    position: absolute;
    top: 0px;
    width: 750px;
    z-index: 90;
    border: 2px solid #098fc3;
    height: 50px;
	right: auto;
    
    /* margin-left: 200px; 
	left: 0; */
	 left: 50%;
    transform: translate(-50%, -0%);
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    border-top-color: #fff;
}



.play-area .game__prev__locks li:before {
    content: " ";
    background: #098fc3;
    width: 10px;
    height: 34px;
    display: block;
    position: absolute;
    left: 0;
    margin-left: 26px;
    top: 0;
    margin-top: -15px;
    z-index: 5;
    border-radius: 0 0 10px 10px;
}

.play-area .game__prev__locks li {
    position: relative;
}

.stopwatch-area+.game__prev__locks {
    margin-top: 30px;
}

.game__prev__locks {
    margin-top: -16px;
}

.stopwatch-area+.game__prev__locks {
	    margin-top: 30px;
}
.stopwatch {
    font-size: 30px;
    text-align: center;
    width: 100%;
}


.search_table td a.icon {
    width: 40px;
    overflow: hidden;
    line-height: 40px;
    border-radius: 50%;
    height: 40px;
    display: inline-block;
    float: left;
}


.search_table td .icon img {
    width: 100%;
    height: auto;
}

.search_table td span {
    line-height: 40px;
    display: inline-block;
    margin-left: 15px;
    color: #666;
    float: left;
    width: 80%;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.prod__img img {
    min-width: 100%;
    min-height: 100%;
}

.search_table tr:hover {
    background-color: #1287b4;
}

.search_table tr:hover a {
    color: #fff;
}

.create-mini-game-page .hed.underline h2 {
    margin-top: 0;
}

#share-dialog .modal-body {
    overflow: auto;
}


iframe[id*="oauth2relay"] {
    display: none;
}



.btn-slide .btn-slide__group {
    width: 100px;margin-left: -100px;z-index: -3;position: relative;opacity: 0;
    float: left;
}

.btn-slide__group--show .btn-slide__group {
    opacity: 1;
    z-index: 1;
    margin-left: 0;

}

.table-game-list .desc {
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
}


.btn-slide td span.desc {
    height: 40px !important;
    overflow: hidden;
    display: block;
    text-decoration: inherit;
    color: #098fc3;
}

.game__list {
    padding-left:30px;
    padding-right:30px;
}

.prod__title h4 {
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    overflow: hidden;
    max-width: 240px;
}

.swiper-slide {
    overflow: hidden;
}

div#search_listing {
    position: absolute;
    z-index: 5;
    background-color: #fff;
    /* padding: 0; */
    margin: 0;
    border-radius: 20px;
    border: 1px solid #c1c1c1;
    width: 97%;
    padding: 10px;
    left: 1.5%;
}


#search_listing .search_listinner table td {
    border-top: 0; 
}

#search_listing .search_listinner table tr+tr td {
    border-top: 1px solid #eee; 
}

.number__select-inr--comb {
    width: 70px;
    height: 70px;
}

.tabs--number__select.tabs--number__select--two .number__select-box {
    width: 65px;
}

.end-screen-social .clr.input-group .input-group-addon> .btn-default,.end-screen-social .clr.input-group .input-group-addon> .btn-default:hover {
    background-color: transparent !important;
    color: #167faf;
}

.game__prev__img__main iframe {
    width: 100%;
    height: auto;
    min-height: inherit;
}

/*
.page-height-short footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
*/

.preloader-area__status {
    text-align: center;
}

.preloader-area {
    text-align: center;
}

.feat__title h4 {
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    overflow: hidden;
    padding-right: 2px;
}

.subj-box {
    width: 100%;
}


.game__prev__inr {
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

body .modal .close {
    line-height: 38px;
    text-align: center;
}
.collapse.in {
    height: auto !important;
}
.number__select-inr:hover {
    border-color: #ccc;

}
.number__select-inr:hover a{ color: #ccc; }


.game__prev__img__main {

    overflow: hidden;
}

body .lock-setup__img--inr {
    position: relative;
}



.lock-setup__img--file input {
    background: aliceblue;
    opacity: 0;
    height: 100%;
    bottom: 0px;
}

.lock-setup__img--file {
    position: static;
}


.next-prev-step {
    padding-top: 15px;
}
.alert-sticky {
    padding-right: 40px;
}


div#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 555;
    padding-top: 40vh;
    background-color: rgba(255,255,255,.8);
    width: 100%;
    height: 100vh;
}

.profile-page .game-preview-area {
    padding-bottom: 30px;
}


.page-height-short footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
}

.library-page .alert {
    margin-bottom: 0;
}

.breadcrumb {white-space: nowrap;overflow: auto;float: right;width: 100%;}


.fade-corner{ position: relative; }
.fade-corner:after,
.fade-corner:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 32px;
    top:0;
}

.fade-corner--right:after {
    box-shadow: -30px 0px 30px 0px #eee inset;
    right: 0;
}

.fade-corner--left:before {
    box-shadow: 30px 0px 30px 0px #eee inset;
    left: 0;
}

section.inr-intro-area {
    padding-top: 30px;
}

body .page__title {
    margin-bottom: 0;
}

body .page__title h2 {
    font-size: 20px;
}


.select-lock--iconic .tabs--number__select.tabs--number__select--two .number__select-box i {
    left: 20px;
    top: 20px;
}

.access-resrc-btn a span {
    background-color: #000;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #39c;
    font-size: 22px;
    font-weight: 100;
    display: block;
    text-transform: uppercase;
    padding: 10px;
}


body.signup-page {
    padding-top: 0px;
}

.hdr-white {
    background-image: none;
    border-bottom:1px solid #eee;
}

.hdr-white .navbar-main li a,.hdr-area .navbar-main li a:hover {
    color: #777;
    font-weight: 300;
}


.hdr-white .navbar-nav>li>.dropdown-menu li a {
    font-size: 16px;
    font-weight: 300;
    color: #777;
}

body .form-control:focus {
    box-shadow: none;
    outline: none;
color:#555 !important;
}
.game__prev__locks ul li.active a {
    position: relative;
    display: inline-block;
}

.game__prev__locks ul li.active a:after {
    content: "";
    display: block;
    height: 5px;
    background-color: #39c;
    margin-top: 10px;
    position: absolute;
    width: 100%;
}

.mix-icons {
    width: 280px;
    margin: 0 auto 15px;
}

.embed-area {
    padding-top: 15px;
}






/*
#gridized .col-sm-1 {
    border-left: 1px solid #6dd;
        border-right: 1px solid #6dd;
    height: 100vh;
}

#gridized .col-sm-1 div {
    border-left: 1px solid #6dd;
    height: 100%;
    border-right: 1px solid #6dd;
} */
#gridized div {
    height: 10px !important;
    background-color: #eee;
}

#gridized div.col-sm-1 div {
    background: #f7f7f7;
}

#gridized .col-sm-1:after,#gridized .col-sm-1:before,
#gridized .col-sm-1 div:after,#gridized .col-sm-1 div:before {
    content: "";
    background: #ccc;
    height: 100vh;
    position: absolute;
    display: block;
    width: 1px;
    left: 15px;
    z-index: 444;
}

#gridized .col-sm-1 div{ position:relative; }
#gridized .col-sm-1 div:after {
    left: auto;
    right:0;
}

#gridized .col-sm-1 div:before {
    right: -15px;
    left: auto;
}

#gridized .col-sm-1:after { left: -1px; }
#gridized .col-sm-1:before { left: 15px; }




#gridized {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 0vh;
}


.subj__inr:hover .subj__title {width: 100%;border-radius: 0;margin-top: 0px;  height:100%;
                               transition: all 0.3s ease 0s !important;
                               -webkit-transition: all 0.3s ease 0s !important;
}


.subj__inr:hover

.subj__title h4 {
    white-space: inherit;
    width: 100%;
    max-width: inherit;
}


.feat__inr:hover .feat__bar ul li {
    height: 100%;
    line-height: 13em;
    display: block;
}

.feat__inr:hover .feat__bar {position: absolute;width: 100%;left: 0;height: 100%; bottom:0;}

.feat__inr {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.feat__inr:hover .feat__bar li {
    height: 110%;
}

body .nav>li>a:hover, .nav>li>a:focus, body .navbar-default .navbar-nav > .open > a, body .navbar-default .navbar-nav > .open > a:hover, body .navbar-default .navbar-nav > .open > a:focus {
    color: #333;
}


.login-page .logo a {
    width: 340px;
    display: block;
    margin: 0 auto;
}

.inr__signup__form__title h3 {
    margin-top: 10px;
}

.feat__bar li a {
    display: block;
}
.bg-lock {
    background-image: url('images/lock-bg.jpg');
}

.end-screen-box.bg-lock {
    min-height: 240px;
    border: 2px solid #098fc3;
}

.end-screen-box .hd h3 {
    font-size: 40px;
    text-shadow: 0 0 20px #000;
    text-transform: uppercase;
}

.mix-icons {
    width: 230px;
    margin-right: 20px;
    margin-top: 65px;
}

.end-screen-box {
    padding-bottom: 30px;
}

.end-screen-box.bg-lock .mix-icons {
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.end-screen-box.bg-lock {
    position: relative;
}


#embedModal .form-control {
    height: 150px;
}

#embedModal .clr.input-group .input-group-addon>* {
    height: 148px;
}

.alert__icon span {
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px auto;
    border: 2px solid #fff;
    background-image: url(images/alert__icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center 4px;
}

.alert-success  .alert__icon span{
    background-image: url(images/alert__icon-open.png);	
}

.alert-sticky .close, .alert-dismissable .close {
    top: 10px;
    right: 10px;
    background-color: #fff;
    color: #d00;
}

.alert__icon {
    height: 50px;
    text-align: center;
}

.alert-success .alert__icon {
    background-color: #61d836;
}

.alert-danger .alert__icon {
    background-color: #d00;
}

.alert {
    padding: 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
}

.alert .cont ul {
    min-height: 50px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 50px;
    font-size: 20px;
    background-color: #098fc3;
    color: #fff;
}

body .alert-sticky {
    width: 500px;
    left: 50%;
    margin-left: -250px;
    bottom: 40%;
}



.fixed-cntr{
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    max-width:10%;
    /* just for example presentation */
    top: 5em;
    background-color: blue;
    display:inline-block;
}



table tr.tr__collapse>td {
    padding: 0px;
    border: 0;
}

table tr.tr__collapse td .collapse {
    border-top: 1px solid #ccc;
}

table tr.tr__collapse td .collapse .table {
    border-bottom: 2px solid #ddd;
}

.alert {
    box-shadow: 0 5px 40px 5px #ccc;

}

body .alert-sticky {
    background-color: #39c;
    color: #fff;
}


.subj__inr:before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1); 
    transform: scale(0,1);

}

.subj__inr:after {
    -webkit-transform: scale(1,0); 
    transform: scale(1,0);
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.subj__inr:hover:before,
.subj__inr:hover:after {
    -webkit-transform: scale(1); 
    transform: scale(1);
}
.subj__inr:before,
.subj__inr:after {transition: all 1s !important;content: "";position: absolute;display: block;z-index: 0;top: 10px;left: 10px;bottom: 10px;right: 10px;z-index: 1;}

.subj__inr:hover .subj__title a {
    padding-top: 20px;
    padding-left: 30px;
}


.subj__inr:hover .subj__title {
    padding:0;
}

.subj__inr:hover .subj__title {
    background-color: transparent;
    z-index:5;
}

.subj__inr:hover img {
    opacity: .4;
}

.subj__inr:hover .subj__img {
    background-color: #000;
}


.feat-box.swiper-slide {
    height: 180px;
    margin-top: 0px !important;
}


.page-height-short main#page-content {
    position: relative;
    min-height: 82vh;
    padding-bottom: 60px;
}


table tr.tr__collapse .alert.mt30 {
    padding: 20px;
    font-size: 16px;
    box-shadow: none;
    text-align: center;
    margin: 0;
}

.alert-sticky ul {
    list-style: none;
}





.categories-page .subj__inr {
    position: relative;
}

.categories-page .subj-box.col-sm-4 {width: 33.333333%;margin-bottom: 30px;}

body.categories-page .subj-main {
    max-height: none;
}

.categories-page .subj__games__num {
    text-align: center;
}


section.catalist-area {
    border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
}

.catalist-area li a {
    font-size: 21px;
    /* background-color: #eee; */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    color: #098fc3;
}


.catalist-area li a .badge {
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    background-color: #098fc3;
    box-shadow: 0 0 0 2px #fff;
}

.prod-area.pt0 { padding-top:0 !important; }

.ofv {
    overflow: visible;
}

.form-control::-webkit-input-placeholder { color:#ccc; -webkit-transition: padding 0.5s; transition: 1s;}




.select-lock--iconic .tabs--number__select.tabs--number__select--two .number__select-inr--comb.has-value i[class*="bg-"] {
    border-color: #0d8bc4 ;
}

.broken-image-default
.has-image[class*="__img"] {
    position: relative;
}

.broken-image-default
.has-image[class*="__img"] img {left: 0;right: 0;position: absolute;top: 0;width: 100%;transform: translateY(0%) translateX(0%);height: 100%;
                                -webkit-transform: translateY(0%) translateX(0%);height: 100%;
}

.broken-image-default
.has-image[class*="__img"] img:after {
    height: 100%;
    width: 100%;
    content: "\f030";
    font-size: 5em;
    line-height: 2em;
}

.broken-image-default
.has-image[class*="__img"] img:before {content: "";}


section.accesscode-fom-area .btn {
    height: 48px;
    line-height: inherit;
}

section.accesscode-fom-area h1 {
    line-height: 48px;
}

section.accesscode-fom-area span.input-group-addon {
    border: 0;
    background-color: transparent;
}

section.accesscode-fom-area {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

section.accesscode-fom-area .form-group {
    margin-bottom: 0;
}

.access__cont {
    text-align: center;
}

.access__cont h4 {
    font-size: 28px;
    font-weight: 300;
}

.access__cont h1 {
    font-size: 48px;
    margin: 0;
}

.access__img {
    text-align: center;
    margin-bottom:30px;
}

.access-btn {
    margin: 30px auto;
    float: none;
    display: block;
    width: 540px;
    font-size: 28px;
    font-weight: 200;
    padding: 15px;
}




@-moz-keyframes jelly {  from { transform: scale(1, 1);  }
                         30% { transform: scale(1.25, 0.75);  }
                         40% {    transform: scale(0.75, 1.25);  }
                         50% {    transform: scale(1.15, 0.85);  }
                         65% {    transform: scale(0.95, 1.05);  }
                         75% {    transform: scale(1.05, 0.95);  }
                         to {    transform: scale(1, 1);  }
}

@-webkit-keyframes jelly {  from {    transform: scale(1, 1);  }
                            30% {    transform: scale(1.25, 0.75);  }
                            40% {    transform: scale(0.75, 1.25);  }
                            50% {    transform: scale(1.15, 0.85);  }
                            65% {    transform: scale(0.95, 1.05);  }
                            75% {    transform: scale(1.05, 0.95);  }
                            to {    transform: scale(1, 1);  }
}

@-o-keyframes jelly {  from {    transform: scale(1, 1);  }
                       30% {    transform: scale(1.25, 0.75);  }
                       40% {    transform: scale(0.75, 1.25);  }
                       50% {    transform: scale(1.15, 0.85);  }
                       65% {    transform: scale(0.95, 1.05);  }
                       75% {    transform: scale(1.05, 0.95);  }
                       to {    transform: scale(1, 1);  }
}

@keyframes jelly {  from {    transform: scale(1, 1);  }
                    30% {    transform: scale(1.25, 0.75);  }
                    40% {    transform: scale(0.75, 1.25);  }
                    50% {    transform: scale(1.15, 0.85);  }
                    65% {    transform: scale(0.95, 1.05);  }
                    75% {    transform: scale(1.05, 0.95);  }
                    to {    transform: scale(1, 1);  }
}


#share-dialog .modal-body {
    overflow: hidden;
}

[class*="count-child-total-"] > div { float:left; margin: 0 0.5%; }
.count-child-total-1 > div{ width:100%;}
.count-child-total-2 > div{ width:49%;}
.count-child-total-3 > div{ width:32.333%;}
.count-child-total-4 > div{ width:24%;}
.count-child-total-5 > div { width: 19%; }

.count-child-total-5 > div a {
    font-size: 0.75em;
}

div#endScreenBreakout {
    border: none;
}


.preloader { display: none; }

.ajax--loading .preloader { display: block; }
.ajax--loading .preloader #preloader__status { display: block !important; }


body .alert {
    box-shadow: none;
}

.btn-xs {
    border: 0;
    padding: 5px 8px;
}


.overlay {
    position: relative;
}

.overlay .feat__title,
.overlay .subj__title {
    background-color: #777;
    margin: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 77;
    border-radius: 4px;
    text-indent: -999px;
}

.game-paid .prod__img {
    background-color: #333;
}

.game-paid .prod__img img {opacity: .2;}

/*
.shareicon a.copy-game {
    background-color: #c58525;
} */

.active .lock-setup__icon i.fa.has-image img { margin-top:-105px; 
                                               transition: all 0s !important;}
.lock-setup__icon i.fa.has-image {
    height: 80px;
    overflow: hidden;
    position: relative;
}

.lock-setup__icon i.fa.has-image img {
    transition: all 0s !important;
}


body .btn-download {
    padding: 0;
    margin-right: -7px;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px;
}

.endScreen[data-id="breakout"] .lock-setup__title h2 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
}


.clr.input-group .input-group-addon.addon-2 .btn {
    width: 88px;
    height: 46px;
    line-height: 46px;
    min-width: auto;
}

.lock-setup__img--file input {
        cursor: pointer;
}


.category-page .subj__games__num {
    position: relative !important;
}

.category-page .subj__games__num span {
    position: absolute;
    bottom: 5px;
	left:0;
	right:0;
}

section.prod-bnr-area {
    position: relative;
    z-index: 0;
}

section.prod-bnr-area:before {
    content: "";
    background-color: #0d8bc4;
    height: 100%;
    width: 100%;
    opacity: .6;
    display: block;
    top: 0;
    z-index: -2;
    position: absolute;
    left: 0;
    right: 0;
}

.singup__classroom div {
    background: yellow !important;
    padding: 10px !important;
    position: absolute;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
}


.singup__classroom {
    position: relative;
}


body .bdr-pro {
    border: 2px solid #0d8bc4;
    min-height: 100px;
    border-radius: 5px;
}

.table-game-list .btn {
    line-height: 26px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
}

body .end-screen__inr .form-control:focus {
    color: #fff !important;
}


.game-page.digital-page{
    cursor: none;
}
.game-page.digital-page .game-preview-box{
    cursor: auto;
}


/*==============Media Queries==============*/
/* 24" large Screens */
@media only screen and (max-width : 1920px) {	}


/* 22" large Screens */
@media only screen and (max-width : 1680px) {	}


/* 20" large Screens */
@media only screen and (max-width : 1600px) {	}


/* 19" large Screens */
@media only screen and (max-width : 1440px) {	}

@media only screen and (max-width : 1366px) {

}

/* 13" Notebook Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {

    .lock-setup__title h2 {
        font-size: 20px;
    }

    body .modal .close {
        margin-top: 0;
        margin-right: 0;
    }


}

/* 13" Notebook Large Devices, Wide Screens */
@media only screen and (max-width : 1198px) {

    .my-mini-games-page table.table .btn-small {
        font-size: 10px;
        min-width: 64px;
    }

}


/* 12" Notebook & iPad landscape  · width: 1024px */
@media only screen and (max-width : 1024px) {

    .login-page .login-box .btn {
        min-width: 90px;
    }

    .login-page .login-box .mar__btm {
        font-size: 12px;
    }



    .select__lock__title h2 {
        font-size: 22px;
    }

    .type__ind__locks ul li i {
        padding: 0 20px;
    }

    .dash__lft {
        width: 100%;
    }

    .dash__lft ul li {
        float: left;
        margin: 0 2px;
    }

    .game-preview-box {
        width: 100%;
    }

    .dash__lft .nav {
        text-align: center;
    }

    .dash__lft .nav li {
        float: none;
        display: inline-block;
    }

    .my-mini-games-page table.table .btn-small span {
        display:none;
    }

    .my-mini-games-page table.table .btn-small {
        min-width: 50px;
    }

    table.table.table-game-list th .pl30 {
        padding-left: 0px;
        float:right;
    }

    .container {
        width: 100%;
    }
    .container {
        width: 100%;
    }


}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {	}


/*Landscape*/
@media only screen and (max-width : 960px) {	}


/* Kindel Fire HD 8.9in (800x1280) Tablets */
@media only screen and (max-width : 800px) {

    .login-page .login-box {
        width: 80%;
    }

}


/* iPad (All) (768x1024) Portrait Tablets */
@media only screen and (max-width : 768px) {	

div#stopwatch {
    width: 80%;
}



.play-area li {
    margin-bottom: 18px;
}

    .type__ind__locks ul li i {
        padding: 0 5px;
    }

    .type__ind__locks h4 {
        font-size: 18px;
    }

    .type__ind__locks ul li i {
        padding: 0 5px;
        font-size: 44px;
        height: 45px;
    }

    .type__conn__locks ul li:after {
        line-height: 90px;
    }

    .end-screen-social {
        width: 90%;
    }


    .lock-setup__img__preview {
        max-height: 90%;
    }

    .lock-setup__img--has-image.show {
        left: 5%;
        top: 5%;
        width: 90%;
        background: #fff;
    }


    .lock-setup__title h2 {
        font-size: 18px;
    }


    div#selectLockType {
        padding-top: 20px;
    }


    .game-select-lock {
        width: 33.333%;
        margin-bottom: 30px;
    }



    .feat__title {
        width: 300px;
    }


    .subj__title {
        width: 100%;
    }

    .subj__games__num {
        left: 50%;
        margin-left: -35px;
    }

    .feat__img {
        height: 260px;
    }


    .feat-box {
        height: 260px;
    }


    .crt-game-steps {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    body .btn-primary, body .btn-primary:visited {
        line-height: 50px;
        border-radius: 4px;
    }


}

/* Lower then iPad (All) (767x---) */
@media only screen and (max-width : 767px) {

    .categories-page .subj-box.col-sm-4 {
        width: 50%;
        float:left;
    }

    .hdr-white .navbar-default .navbar-toggle .icon-bar {
        background-color: #777;
    }

    body .hdr-white {
        background-color: #f7f7f7;
    }

    .hdr-white .navbar-main li a:hover,
    body .hdr-white .nav>li>a:hover, 
    body .hdr-white .navbar-default .navbar-nav > .open > a,
    body .hdr-white .navbar-default .navbar-nav > .open > a:hover,
    body .hdr-white .navbar-default .navbar-nav > .open > a:focus{
        color:#777;	
    }

    .hdr-white .navbar-default .navbar-nav .open .dropdown-menu>li>a{

        color:#777;	
    }

    .modal-backdrop.fade.in {
        display: none !important;
    }

    .modal-open .modal {
        z-index: 444;
    }

body .scrollToTop {
    right: 10px;
    bottom: 0;
}

    .scrollToTop {
        display: none !important;
    }


    .select-lock--iconic .tabs--number__select.tabs--number__select--two .number__select-box i {
        left: 10px;
        top: 10px;
    }

    .select-lock__tabs .edit-save-btns {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .select-lock__tabs.is-active .edit-save-btns {
        margin-top: 0px;
        margin-bottom: 20px;    
    }



    .lock-setup__img--file button {
        min-width: 280px;
        height: auto;
        width: 280px;
        font-size: 12px;
        padding: 8px;
    }
    .lock-setup__img--file {
        margin-top: 10px;
    }

    .lock-setup__img--file {
        margin-top: 10px;
    }

    .lock-setup__img--box {
        height: 30px;
        margin-top: 0px;
    }

    .lock-setup__img--inr h3 {
        margin-bottom: 5px;
    }

    .lock-setup__img--inr {
        padding: 10px 0;
    }


    .lock-setup__img--box {
        height: 50px;
    }

    .lock-setup__img--box img {
        max-height: 100%;
    }

    .lock-setup__img--inr h3 {
        font-size: 18px;
    }

    .lock-setup__img--inr {
        padding: 30px 0;
    }


    .game__prev__img__main {
        width: 100%;
    }

    .lock-setup-story .lock-setup-box {
        width: 33.3333%;
        margin-top:15px;
    }

    .type__ind__locks ul li i {
        font-size: 38px;
        padding: 0 8px;
        height: auto;
    }

    .type__ind__locks label {
        padding: 10px 0;
    }

    .type__ind__locks {
        margin-bottom: 20px;
    }


    body.page-height-short footer {
        position: static;
    }


    div#stopwatch {
        top: 0;
        /* left: 50%;
        margin-left: -100px;
        height: 51px;
         bottom: 0; */
    }


    .end-screen__inr .signup__connect {
        width: 25%;
    }


    .my-mini-games-page table.table .btn-small span {
        display: none;
    }

    .my-mini-games-page table.table .btn-small {
        width: 40px;
        margin: 0 auto;
        /* float: left; */
        margin-bottom: 5px;
        clear: none;
        margin-left: 5px;
        max-width: 40px;
        min-width: 40px;
        display: inline-block;
    }

    .my-mini-games-page table.table th .pl30 {
        float: right;
    }


    .my-mini-games-page table.table .btn-slide__group .btn-small {
        max-width: 80px;
        min-width: 80px;
    }


    /*
            .my-mini-games-page table.table .btn-small span {
        display: none;
    }
    
    .my-mini-games-page table.table .btn-small {
        min-width: 30px;
        max-width: 30px;
        float: left;
        font-size: 12px;
        padding: 0px;
        height: auto;
        line-height: 30px;
    }
    
    body .table-valign tr td {
        padding: 2px;
    }
    
    body .table-valign tr td a {
        font-size: 10px;
    }
    
    .btn-slide td span.desc {
        height: auto !important;
        font-size: 16px;
    }
    
    */


    .hedlist {
        display: block;
        width: 100%;
        text-align: center;
    }

    .hedlist h3 {
        margin-top: 0;
    }

    .game__list .btn-default {
        padding: 0px 10px;
        display: block;
        margin: 0 auto;
        float: none;
        clear: both;

        max-width: 180px;
    }


    .game__prev__inr {
        padding: 15px;
    }


    section.prod-area {
        padding: 0 0 20px;
    }


    .img-tut__rgt {
        margin-top: 30px;
    }


    #sign-body .form-group+.form-group .form-control, body .fom-grid-bdr .form-group+.form-group .form-control {
        border-left-color: #ccc;
    }

    .prod__bnr__cont.valigner {
        width: 100%;
    }

    .breadcrumb-area {
        margin-bottom: 5px;
    }

    .hed.underline h2 {
        font-size: 20px;
    }


    .end-screen-social {
        width: 90%;
    }

    .end-screen__inr h2 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .end-screen__logo {
        max-width: 220px;
        margin: 0 auto;
    }

    .end-screen-box {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .end-screen__inr h3 {
        font-size: 20px;
    }

    div#endGameScreen { margin-bottom:30px;}


    .bottom-area .pul-lft,.bottom-area .pul-rgt {
        width: 100%;
        text-align: center;
    }



    #share-dialog .signup__connect {
        width: 50%;
    }

    .create__game__box h2 {
        font-size: 20px;
        padding: 0 15px;
    }

    .dropdown-menu .divider {
        background-color: #76bad7;
        margin:0;
    }

    .dropdown > a::after {
        float: right;
        position: absolute;
        right: 5px;
        top: 0;
        line-height: 40px;
        font-size:20px;
    }


    .dropdown.open .dropdown-menu, .dropdown > .dropdown-menu {
        border: 1px solid #76bad7;
        margin-bottom: 15px;
        background-color: transparent;
    } 

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }


    body .btn-primary, body .btn-primary:visited {
        font-size: 12px;
        padding-top: 0;
        padding-bottom: 0;
        min-width: 80px;
    }

    body .modal .close {
        right: 0px;
        top: 0;
        width: 30px;
        height: 30px;
        line-height: 20px;
        font-size: 17px;
        z-index: 8;
    }


    .navbar-default .navbar-toggle {
        margin-right: 0;
    }


    .hdr--sticky-mobile--off .hdr--sticky {
        position: static !important;
    }

    html body.hdr--sticky-mobile--off {
        padding-top: 0;
    }

    .hdr-nav .navbar-default .navbar-collapse {
        padding: 0;
    }

    body .nav.navbar-nav {
        width: 100%;
    }


    .modal-vcntr--all .modal:before, .modal.modal-vcntr:before {
        width:0px;
    }

    .modal-dialog {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .modal-dialog {
        margin: 0;
        width: 80%;
    }


    .modal h3 {
        font-size: 14px;
    }

    .signup__connect {
        float: left;
        width: 33.33%;
        overflow:hidden;
    }


    .navbar-default .navbar-toggle .icon-bar {
        background-color:#fff;
    }

    .navbar-default .navbar-brand {
        width: 150px;
        line-height: 45px;
    }

    .hdr-nav {
        padding-top: 0px;
        padding-bottom: 0;
    }

    body {
        padding-top: 50px;
    }


    .game-type-lft.selectme, .game-type-rgt.selectme {
        float: left;
        width: 50%;
    }

    .selectme h4 {
        font-size: 16px;
    }


    #selectLockColor.is-active .select-lock__tabs--comb__select,
    #selectLockDirection.is-active .select-lock__tabs--comb__select,
    #selectLockShape.is-active .select-lock__tabs--comb__select,
    #selectLockNumber.is-active .select-lock__tabs--comb__select,
    #selectLockText.is-active .select-lock__tabs--comb__select {
        position: fixed;
        bottom: 0px;
        background-color: #fff;
        left: 0;
        padding: 20px 10px;
        zoom: 1;
        right: 0;
        z-index: 55;
        border: 1px solid #ddd;
        box-shadow: 0 0 30px 0px #ddd;
        transform: scale(0.7);
        border-radius: 15px;
        z-index:899;
    }

    .tabs--number__select.tabs--number__select--two {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .select-lock__tabs {padding: 8px;}

    .select-lock__tabs--number__select h3 {
        font-size: 20px;
    }

    .number__select-box {
        padding: 0 2px;
        width: 50px;
        margin: 5px 0px;
    }

    .number__select-inr--comb {
        width: 100%;
        height: 100%;
    }

    .tabs--number__select.tabs--number__select--two .number__select-box {
        width: 50px;
        margin: 0 5px;
        height: 50px;
    }

    .tabs--number__select.tabs--number__select--two .number__select-box input {
        font-size: 21px;
        line-height: 35px;
    }

    .select-lock__tabs--comb__select {
        margin-top: 0;
    }

    .crt-game-steps .panel-heading a {
        font-size: 20px;
    }

    .select-lock-type .nav-pills>li>a {
        padding: 8px;
    }

    .select-lock-type .nav-pills>li>a .lock-setup__icon i {
        font-size: 30px;
    }

    .select-lock-type .nav-pills>li>a .lock-setup__title h2 {
        margin: 0;
        font-size: 14px;
    }


}

/*iPhone 6 Plus landscape · width: 736px */
@media only screen and (max-width : 736px) {

.play-area ul li {
    margin-top: 12px;
width: 8%;
}

.play-area li:before {
    margin-left: 40%;
}

    .login-page .mar__btm .col-sm-8 {
        width: 80%;
    }

    .login-page .mar__btm .col-sm-4 {
        width: 20%;
        float: left;
    }


    .img-lock__inr ul li:before {
        left: 10px;
    }

    section.img-tut-dtl-area .panel-body {
        padding-top: 15px;
    }

    .feat__bar li i {
        line-height: 32px;
    }

    .select-lock--iconic .tabs--number__select.tabs--number__select--two .number__select-box i[class*="bg-"] {
        width: 50px;
        height: 50px;
    }


    .crt-game-steps .panel-body {
        padding-top: 0;
    }


    .select-lock__tabs {
        margin-top: 0;
    }


    .dash__tabs .nav li {
        width: 48%;
        float: left;
        margin: 0 1%;
    }


    .game__add__timer {
        text-align: center;
        float: left;
        width: 100%;
    }


    .crt-game-area button[type=submit] {
        text-align: center;
        float: left;
    }


    .game-type-lft.selectme, .game-type-rgt.selectme {
        width: 100%;
    }


    table.table-game-list tr td {
        padding: 2px;
    }

    table.table-game-list tr td .desc {
        margin-top: 4px;
        font-size: 20px;
    }

    .my-mini-games-page table.table .btn-small {
        margin-bottom: 0;
    }


}

/*iPhone 6 landscape · width: 667px */
@media only screen and (max-width : 667px) {



    .table-game-list .btn span {
        display: none;
    }

    /*
    .my-mini-games-page table.table .btn-small {
        min-width: 50px;
        max-width: 10px;
        float: RIGHT;
        margin-bottom: 8px;
        padding: 0px;
        height: auto;
        line-height: 24px;
    }
    */

    body .alert-sticky {
        width: 100%;
        margin-left: auto;
    }


}


/* Google Nexus 7 603x966 | Samsung Galaxy Tab 600x1024  */
@media only screen and (max-width : 603px) {	}


/*iPhone4 and iPhone5 Galaxy S2 and S3  */
@media only screen and (max-width : 640px) {	}


/* iPhone 5 Landscape · 320x568px */
@media only screen and (max-width : 568px) {
	
body .play-area ul li {
		margin-top: 12px;
		}
		
		
    .lock-setup-story .nav-pills>li>a {
        height: 54px;
    }


    .select-lock-type .nav-pills>li>a .lock-setup__title h2 {
        font-size: 8px;
        color: #aaa;
    }


    .game__prev__locks ul li {
        width: 8%;
        text-align: center;
        float: none;
        display: inline-block;
        margin:0 0.5%;
    }

    .game__prev__locks ul {
        text-align: center;
    }


    .game-info .game__timer__box {
        float: left;
        width: 80px;
    }

    .game-select-lock {
        width: 50%;
    }

    .select__lock__title h2 {
        font-size: 14px;
        height: 30px;
        margin-bottom: 0;
    }



    /*
    
    
    .select-lock__tabs .btn {
        width: 48%;
        float: left;
        margin: 0 1%;
    }*/
    .select-lock__tabs .btn {
        width: 100%;
        margin-bottom: 15px;
    }

    #locksetupstory .select-lock-type .nav-pills>li>a {
        height: 100px;
    }

}


/* Kindel Fire HD 8.9in (533x853) Tablets */
@media only screen and (max-width : 533px) {


    .select-lock--iconic .tabs--number__select.tabs--number__select--two .number__select-box i[class*="bg-"] {
        width: 40px;
        height: 40px;
    }


    .select-lock--iconic .tabs--number__select.tabs--number__select--two .number__select-box i img {
        width: 20px;
        height: 20px;
        left: 10px;
        top: 10px;
    }


    .select-lock__tabs--direct .number__select-inr--comb h2 {
        line-height: 30px;
        font-size: 21px;
        padding: 0;
    }


    .select-lock--iconic .tabs--number__select.tabs--number__select--two .number__select-box i {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 40px;
    }


    .dash__tabs .nav li {
        width: 100%;
        margin: 0;
    }


    .clr.input-group .input-group-addon,.clr.input-group .form-control {
        display: block;
        width: 100%;
        margin: 0;
        float: left;
    }

    .input-group.clr {
        display: block;
        margin-bottom:20px;
        float:left;
        width: 100%;
    }

    section.inr-intro-area {
        padding-top: 30px;
    }

    .page__title h2 {
        font-size: 24px;
    }

    .page__title {
        margin-bottom: 0;
    }

    .subj__title {
        margin-top: 60px;
    }

}


/*iPhone3 Landscape*/
@media only screen and (max-width : 480px) {


    .categories-page .subj-box.col-sm-4 {
        width: 100%;
    }

    .game__prev__locks ul li {
        width: 16%;
        margin-bottom: 10px;
    }


    .lock-setup-story .nav-pills>li>a {
        padding: 4px;
    }

    .lock-setup__img--file button {
        font-size: 12px;
        min-width: inherit;
        width: inherit;
        padding-top: 5px;
        padding-bottom: 5px;
    }



    .signup__connect a i, .signup__connect button i {
        display: block;
        height: 46px;
        line-height: 46px;
    }


    .feat__title {
        max-width: 240px;
    }


    .feat__bar ul li a {
        font-size: 11px;
    }


    .lock-setup-story .nav-pills>li>a {
        height: 65px;
    }

    .login-page .m-md-top {
        text-align: center;
    }

    .login-page .m-md-top .pul-rgt span {
        margin-bottom: 20px;
        display: inline-block;
    }

    .login-page .m-md-top div {
        width: 100%;
    }
    .checkbox.mar__btm label {
        margin-bottom: 15px;
    }

    a.forgot__clr.pul-lft.btn {
        height: auto;
        line-height: inherit;
        padding: 10px 0px 0;
    }

    body .btn-primary {
        border-radius: 0;
    }

    body .btn-primary {
        border-radius: 0;
    }

    .signup__connect {
        margin-bottom: 15px;
    }

    .inr__signup__form {
        padding-bottom: 20px;
    }


    .inr__signup__form__title h3 {
        font-size: 16px;
    }

    section.inr-signup-area h2 {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .access-resrc-btn a span {
        font-size: 1.25em;
        padding: 8px;
    }

    body.login-page {
        padding-top: 5px;
    }

}


/* iPhone 6 PLUS (414x736) */
@media only screen and (max-width : 414px) {	
    .login-page .login-box {
        width: 90%;
        margin-top:20px;
    }


    .login-page .logo a {
        width: 100%;
    }


    .btn {
        width: 100%;
    }
    .next-prev-step .btn+.btn {
        margin-top: 15px;
    }

    .crt-game-steps .accordion-area {
        padding: 0;
    }

    .crt-game-steps .panel-heading a {
        padding-right: 50px;
        font-size: 18px;
    }
    .crt-game-steps .accordion-plus .panel-title a:before{
        margin-right: 10px;
    }

    .select-lock__tabs .btn {
        font-size: 12px;
        min-width: inherit;
    }


    .tabs--number__select.tabs--number__select--two .number__select-box {
        width: 40px;
        height: 40px;

        margin: 0 2px;
    }

    .tabs--number__select.tabs--number__select--two .number__select-box input {
        font-size: 18px;
        line-height: 38px;
        padding: 0;
    }

}


/* iPhone 6 portrait (375x667) */
@media only screen and (max-width : 375px ) {	}


/* Galaxy S5 (360x640) */
@media only screen and (max-width : 360px) {	}


/* iPhone 3/4 Blackberry8300 / LG/ AUSUS / S3 S4 */
@media only screen and (max-width : 320px) {

    .signup-modal .modal-body {
        padding: 0 20px;
        padding-bottom: 20px;
    }


    .container {
        padding-left: 2px;
        padding-right: 2px;
    }


    .game-select-lock {
        margin-bottom: 10px;
        width: 100%;
    }


}


/*Galaxy Y*/
@media only screen and (max-width : 240px) {	}

